{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <h1>새 강의평 작성</h1>
        <br><br>
        <form method="POST" action="">
            {% csrf_token %}
            과목명:
            <br>
            {{ form.subject }}
            <br>
            교수명:
            <br>
            {{ form.professor }}
            <br>
            평점:
            <br>
            {{ form.rate }}
            <br>
            제목:
            <br>
            {{ form.title }}
            <br>
            강의평:
            <br>
            {{ form.content }}
            <br>
            <input type="submit" value="등록하기">
        </form>
    {% else %}
     로그인 후 이용해주세요.
        <br>
        <a href="{% url 'login' %}">로그인</a>
        <br>
        <a href="{% url 'signup' %}">회원가입</a>
        <br>
    {% endif %}


{% endblock content %}