{% extends 'base.html' %}
{% block content %}
<h1>숙명여자대학교 강의평가</h1>
    <a href={% url 'rate_create' %}>강의평 작성하기</a>
    <br><br>
    <form action="{% url 'search' %}" method="GET">
        <input type='search' name='keyword' placeholder='과목, 교수명으로 검색' />
        <input type='submit' value='검색하기' />
    </form>
    <table style="text-align:center">
        <thead>
        <tr>
            <th scope="col" width="20%">과목</th>
            <th scope="col" width="5%">교수명</th>
            <th scope="col" width="5%">평점</th>
            <th scope="col" width="20%">제목</th>
            <th scope="col" width="40%">내용</th>
            <th scope="col" width="10%">작성날짜</th>
        <tr>
        </thead>
        <tbody>
            {% for rate in rates %}
            <tr>
                <td>{{ rate.subject }}</td>
                <td>{{ rate.professor }}</td>
                <td>{{ rate.rate }}점</td>
                <td><b>{{ rate.title }}</b></td>
                <td>
                    <a href="{% url 'detail' rate.id %}">{{ rate.content|truncatechars:20 }}</a>
                </td>
                <td>{{ rate.created_at|date:'y/m/d' }}</td>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

